*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;

  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: $basic-black;
}

.container {
  max-width: 1134px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}
