.partners {
  margin-bottom: 91px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list-link {
    display: inline-block;

    vertical-align: middle;
  }
}
