.reviews {
  margin-bottom: 42px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
  }

  &__title {
    max-width: 452px;
    margin: 0;
  }

  &__subtitle {
    max-width: 398px;
    margin: 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    justify-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
  }
}
